body {
    font-family: raleway, sans-serif;
    font-size: 0.9em;
}

header {
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
}

h2 {
    font-size: 1.1em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;;
}
#en_tete {
    position: relative;
    margin-top: 20px;
}

#en_tete h1, #en_tete p {
    margin-top: 5px;
    margin-bottom: 5px;
}

nav {
    position: absolute;
    top: 20px;
    right: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-right: 40px;
}

nav a:hover {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    padding-bottom: 12px;
}

#champs_recherche {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#rechercher a {
    padding: 13px;
    background-color: #0065FC;
    color: white;
    border-radius: 0 12px 12px 0;
}

#champs_recherche i {
    background-color: #f2f2f2;
    color: black;
    padding: 16px;
    border-radius: 12px 0 0 12px; 
}

input {
    padding: 10px;
    font-size: 1em;
}

#filtres {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.bulle_filtre {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid grey;
    border-radius: 25px;
}

#filtres h2 {
    margin-right: 25px;;
}

.bulle_filtre a {
    padding-right: 20px;
}

.icone {
    margin-right: 15px;
    color: #0065FC; 
    background-color: #deebff;
    padding: 15px;
    border-radius: 25px;;
}

#infos {
    display: flex;
    align-items: center;
}

#infos i {
    color:  #0065FC;
    border: 0.5px solid black;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    margin-right: 15px;;
}


