/*
    1. Généralités
        -> font-family
        -> liens
        -> body

    2. Header
    3. Filtres
    4. Les plus populaires

    À retenir : 
        -> éviter les id
*/


                                    /*    header     */

body {
    font-family: raleway;
    font-size: 0.9em;
    margin: auto;
}

h1 {
    font-size: 1.4em;
    font-weight: 600;
    margin: 30px 25px 20px;
}

h2 {
    font-size: 1.2em;
}

.afficher {
    margin-left: 25px;
}

.chapeau p {
    margin-top: -10px;
    padding-left: 25px;
}

.reservia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin: 20px;
}

ul, a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

i, .sign-in-mobile {
    color: #0065FC;
}

.sign-in-tablet {
    display: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 30px;
}

nav a:hover {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
    padding-bottom: 25px;
}

a:hover {
    color: grey;
}



                                    /*  Champs recherche    */

.champs_recherche {
    /* display: flex;
    justify-content: space-evenly; */
    align-items: center;
    margin-bottom: 25px;
    /* margin-left: 7px; */
    position: relative;
    width: 85%;
    margin-top: 30px;
    margin-left: 30px;
}

.champs_recherche-map-marker {
    color: black;
    background-color: #f2f2f2;
    /* padding: 17px; */
    border-radius: 15px 0 0 15px;
    position: absolute;
    left: -10px;
    height: 50px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 0;
}

.fa-map-marker-alt:before, .fa-search:before {
    position: absolute;
    top: 15px;
    left: 15px;
}

.champs_recherche-loupe {
    /* padding: 17px; */
    /* margin-left: -10px; */
    color: white;
    background-color: #0065FC;
    position: absolute;
    right: -10px;
    height: 50px;
    width: 45px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.rechercher {
    display: none;
}

input {
    height: 48px;
    padding-left: 40px;
    font-size: 1.1em;
    border-left: none;
    border-right: none;
    border: 0.4px solid #f2f2f2;
    width: 100%;
    border-radius: 15px;
}

input:focus {
    outline: none;
}



                                    /*   Filtres   */

#filtres_icones {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 25px;
}

.bulle_filtre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #f2f2f2;
    border-radius: 35px;
}

.bulle_filtre a {
    font-size: 1em;
    font-weight: 600;
    padding-right: 20px;
    padding-left: 15px;
}

#filtres_icones i {
    background-color:#DEEBFF;
    padding: 18px;
    /* border-radius: 30px; */
    border-radius: 50%;
}

.icone {
    align-items: center;
}


#infos {
    display: flex;

    align-items: center;
}

#infos i {
    padding: 7px 12px 7px 12px;
    margin-right: 15px;
    margin-left: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 50px;
}

#infos p {
    margin-right: 30px;
}


                                    /*    Aside    */

aside {
    background-color: #f2f2f2;
    padding-bottom: 30px;
}

#les_plus_populaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-chart-line:before {
    margin-right: 20px;
    color: black;
}

.bulle_populaire {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 150px;
    margin: auto;
    margin-bottom: 15px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 8px 8px rgb(230,230,230);
}

.bulle_populaire img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 12px 0 0 12px;
}

.infos_populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
}

.hotel-populaire h2, .hotel-populaire p {
    margin-bottom: 4px;
    margin-top: 3px;
}

.etoile_grise {
    color: #f2f2f2;
}



                                    /*   Section Hébergement   */



.bulle_hebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 260px;
    background-color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    box-shadow: 0 8px 8px rgb(230,230,230);
    border-radius: 15px;
}

.photo_hebergement {
    text-align: center;
}

.photo_hebergement img {
    width: 95%;
    height: 150px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    object-position: bottom;
}

.infos_hebergements {
    padding-left: 15px;
    margin-top: -25px;
}

.infos_hebergements h2, .infos_hebergements p {
    margin: 7px 0;
}




                                    /*    Section Activites    */

#activites_marseille {
    margin-bottom: 50px;
}

.bulle_activite_1, .bulle_activite_2, .bulle_activite_3, .bulle_activite_4, .bulle_activite_5, .bulle_activite_6 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 8px #f2f2f2;
}

.photo_activite img {
    width: 100%;
    height: 150px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}


.lieux {
    padding-left: 15px;
    padding-bottom: 10px;
}


                                    /*    Footer    */

footer {
    background-color: #f2f2f2;
    /* width: 400px; */
    padding-top: 30px;
    padding-bottom: 30px;
}

footer ul {
    list-style-type: none;
    /* margin-left: -40px; */
    padding-left: 0;
}

footer li {
    padding: 5px 0;
}

.rubrique {
padding-bottom: 10px;
padding-left: 40px;
}


                                    /*   Tablet   */

@media screen and (min-width: 768px) {
    
    .sign-in-mobile {
        display: none;
    }

    .sign-in-tablet {
        display: initial;
    }

    #en_tete {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        /* position: absolute; */
    }

    nav li {
        margin-right: 30px;
    }

    nav a:hover {
        border-top: 3px solid #0065FC;
        padding-top: 30px;
        border-bottom: none;
    }

    .champs_recherche {
        width: 40%;
    }

    .champs_recherche-loupe {
        width: 110px;
    }

    .fa-search:before {
        display: none;
    }
    
    .rechercher {
        display: initial;
        position: absolute;
        top: 0px;
        right: 10px;
        color: white;
        font-weight: 600;
    }

    .filtre {
        display: flex;
        align-items: flex-start;
    }

    .h1-filtres {
        margin-top: 15px;
    }


                                        /*  aside tablette */


    aside {
        width: 95%;
        margin: auto;
        border-radius: 20px;
    }

    .wrapper_populaire {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 95%;
        margin: auto;
    }

    .fa-chart-line::before {
        margin-right: 35px;
    }

    .bulle_populaire {
        width: 30%;
        height: 110px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .bulle_populaire img {
        width: 90px;
        height: 110px;
    }

    .infos_populaires {
        padding: 0 0 5px 10px;
    }

    .infos_populaires h2, .icone-etoile {
        font-size: 0.8em;
    }

    .infos_populaires p {
        font-size: 0.7em;
    }


                                        /*   section hebergement tablette  */

    #hebergement_marseille {
        background-color: #f2f2f2;
        width: 95%;
        margin: auto;
        border-radius: 3%;
    }
    
    .wrapper_hebergement {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        margin: auto;
    }

    .bulle_hebergement {
        width: 30%;
        height: 205px;
    }

    .bulle_hebergement img {
        width: 200px;
        height: 120px;
        object-fit: cover;
    }

    .infos_hebergements {
        padding-top: 10px;
    }

    .infos_hebergements h2, .etoile {
        font-size: 1em;
    }


                                        /*   section activite tablette */

    .wrapper_activite {
        display: flex;
        width: 95%;
        margin: auto;
    }

    .rubrique {
        width: 33%;
    }



                                    /*   footer tablette   */

    
    footer {
        display: flex;
    }

    footer li {
        font-size: 0.8em;
    }     
        
}                           


                                    /* Desktop */

@media screen and (min-width: 1024px) {


    #site-voyage {
        width: 97%;
        margin: auto;
    }

    .reservia img {
         width: 150px;
   }

    h1 {
        font-size: 1.6em;
    }

    h2 , footer h2, .main-section h2 {
        font-size: 1.4em;
    }

    .main-section p, .etoile, .icone-etoile {
        font-size: 1.1em;
    }

    li, footer li {
        font-size: 1.2em;
    }

    .champs_recherche {
        width: 27%;
        margin-bottom: 40px;
        /* padding-left: 25px; */
    }

    .champs_recherche-loupe {
        display: none;
    }

    .champs_recherche-loupe {
        width: 145px;
    }

    .rechercher {
        display: initial;
        top: -2px;
        right: 20px;
        font-size: 1.2em;
    }

    .filtre {
        display: flex;
        align-items: center;
    }

    .bulle_filtre {
        margin-right: 40px;
    }

    .bulle_filtre a {
        font-size: 1.2em;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 30px;
    }

    .h1-filtres {
        margin-top: 10px;
    }


                                        /*   main section   */

    .main-section {
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        margin-bottom: 30px;
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .main-section h1 {
        padding-bottom: 20px;
        margin-left: 0px;
    }


    #hebergement_marseille {
        flex: 2;
        height: auto;
        margin-top: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    #hebergement_marseille h1, .afficher {
        width: 90%;
        margin: 30px auto 20px;
    }

    .wrapper_hebergement {
        width: 95%
    }

    .bulle_hebergement {
        width: 30%;
        height: 280px;
    }
    .bulle_hebergement img {
        width: 96%;
        height: 160px;
        margin-top: -5px;
    }
    .wrapper_populaire {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 90%;
    }

    aside {
        flex: 1;
        height: auto;
    }

    #les_plus_populaires {
        width: 90%;
        margin: auto;
        padding-left: 5px;
    }

    .bulle_populaire {
        margin-bottom: 25px;
        width: 90%;
        height: 200px;
    }

    .bulle_populaire img {
        width: 220px;
        height: 200px;
    }


    .infos_populaires {
        padding-left: 10px;
        justify-content: space-between;    
    }

    
    .afficher {
        padding-top: 15px;
        padding-bottom: 35px;
    }

    .wrapper_activite {
        display: flex;
        /* grid-template-columns: auto auto auto auto; */
        /* grid-template-columns: repeat(4, 300px);
        grid-template-rows: 240px 70px 30px 100px 50px 50px; */
        /* grid-gap: 30px; */
        /* width: auto; */
        /* margin-left: 30px; 
        margin-right: 30px; */
        /* margin-top: 30px; */
        /* grid-template-areas: 
            "bulle1 bulle2 bulle4 bulle5"
            "bulle1 bulle2 bulle4 bulle5"
            "bulle1 bulle2 bulle4 bulle6"
            "bulle1 bulle3 bulle4 bulle6"
            ; */
   }

   .bulle_activite_1 {
       grid-area: bulle1;
       /* height: 100%; */
   }

   .bulle_activite_2 {
        grid-area: bulle2;
   }
   .bulle_activite_3 {
        grid-area: bulle3;
   }
   .bulle_activite_4 {
        grid-area: bulle4;
        /* height: 100%; */
   }
   .bulle_activite_5 {
        grid-area: bulle5;
   }
   .bulle_activite_6 {
        grid-area: bulle6;
   }

    

    /* .bulle_activite_1 {
      grid-row: 1 /3;
    }

    .bulle_activite_1 img, .bulle_activite_4 img {
        height: 490px;
        object-fit: cover;
    }
    
    .bulle_activite_3 {
        grid-row-start: 2;
        grid-column-start: 2;
    }
    .bulle_activite_4 {
        grid-column: 3;
        grid-row: 1 /span 2;
    }

    .bulle_activite_2 img, .bulle_activite_3 img, .bulle_activite_5 img, .bulle_activite_6 img {
        height: 185px;
        object-fit: cover;
    } */
      

    .bulle_activite_1, .bulle_activite_2, .bulle_activite_3, .bulle_activite_4, .bulle_activite_5, .bulle_activite_6 {
        border: 1px solid #f2f2f2;
        border-radius: 15px;
        box-shadow: 0 8px 8px 0 #f2f2f2;
    }









}
